.body{
	background-color:#ffefd5;
}
.header{
	width: 100%;
	font-family: 微軟正黑體;
	text-align: center;
	background-color: #00bfff; 

}
.headerfont{
	font-size: 40px;
	font-weight: bold;
	padding-top: 20px;
}
.contant{
	background-color: #9acd32;
	border-radius: 10px;
	margin-right: 10px;
	
}
.ui-grid-a .ui-block-a
{
	margin:1%;
	width:48%;
}
.ui-grid-a .ui-block-b
{
	margin:1%;
	width:48%;
}